<a href="https://colab.research.google.com/github/py242016019/CEE2/blob/main/trabalho_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Acessar a API do Banco Central e baixar a série temporal diária da Taxa SELIC dentro de um intervalo especificado (exemplo: 02/03/2015 até 06/03/2015).

In [ ]:
!pip install requests
!pip install beautifulsoup4
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt
from io import StringIO
import numpy as np

Requirement already satisfied: requests in /usr/local/lib/python3.11/dist-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.11/dist-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.11/dist-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.11/dist-packages (from requests) (2.4.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.11/dist-packages (from requests) (2025.4.26)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.11/dist-packages (4.13.4)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (2.7)
Requirement already satisfied: typing-extensions>=4.0.0 in /usr/local/lib/python3.11/dist-packages (from beautifulsoup4) (4.14.0)

In [ ]:
inicio= input("Digite a data inicial (DD-MM-AAAA): ")
fim= input("Digite a data final (DD-MM-AAAA): ")

url=f"https://api.bcb.gov.br/dados/serie/bcdata.sgs.11/dados?formato=csv&dataInicial={inicio}&dataFinal={fim}"

try:
    response = requests.get(url)
    response.raise_for_status()

    df_selic = pd.read_csv(StringIO(response.text), sep=';')
    df_selic['data'] = pd.to_datetime(df_selic['data'], format='%d/%m/%Y')

    print(df_selic)

except requests.RequestException as e:
  print(e)

Digite a data inicial (DD-MM-AAAA): 02/03/2015
Digite a data final (DD-MM-AAAA): 22/03/2015
         data     valor
0  2015-03-02  0,045513
1  2015-03-03  0,045513
2  2015-03-04  0,045513
3  2015-03-05  0,047279
4  2015-03-06  0,047279
5  2015-03-09  0,047279
6  2015-03-10  0,047279
7  2015-03-11  0,047279
8  2015-03-12  0,047279
9  2015-03-13  0,047279
10 2015-03-16  0,047279
11 2015-03-17  0,047279
12 2015-03-18  0,047279
13 2015-03-19  0,047279
14 2015-03-20  0,047279

2. Converter a taxa diária para anual, através da seguinte equação:
$$T_{anual} = (1+T_{diaria})^{252}-1$$
em que:
- $T_{diaria}$ é a taxa diária expressa em valor decimal.
- O número 252 representa a quantidade aproximada de dias úteis em um ano.

In [ ]:
df_selic = df_selic.rename(columns={'valor': 'SELIC diária'})

df_selic['SELIC diária'] = df_selic['SELIC diária'].str.replace(',', '.')
df_selic['SELIC diária'] = pd.to_numeric(df_selic['SELIC diária'], errors='coerce')

In [ ]:
df_selic["SELIC anual"] = ((1 + (df_selic["SELIC diária"])/100)**(252) -1)*100

print(df_selic)

         data  SELIC diária  SELIC anual
0  2015-03-02      0.045513    12.149954
1  2015-03-03      0.045513    12.149954
2  2015-03-04      0.045513    12.149954
3  2015-03-05      0.047279    12.649937
4  2015-03-06      0.047279    12.649937
5  2015-03-09      0.047279    12.649937
6  2015-03-10      0.047279    12.649937
7  2015-03-11      0.047279    12.649937
8  2015-03-12      0.047279    12.649937
9  2015-03-13      0.047279    12.649937
10 2015-03-16      0.047279    12.649937
11 2015-03-17      0.047279    12.649937
12 2015-03-18      0.047279    12.649937
13 2015-03-19      0.047279    12.649937
14 2015-03-20      0.047279    12.649937

3. Calcular a taxa selic acumulada através da seguinte equação:
$$T_{acumulada}= \prod_{}^{}(1 + T_{diaria})-1$$
em que o produtório é calculado ao longo de todos os dias do período analisado.

In [ ]:
df_selic['SELIC acumulada'] = (( (1 + df_selic['SELIC diária'] / 100).cumprod() ) - 1)*100

print(df_selic)

         data  SELIC diária  SELIC anual  SELIC acumulada
0  2015-03-02      0.045513    12.149954         0.045513
1  2015-03-03      0.045513    12.149954         0.091047
2  2015-03-04      0.045513    12.149954         0.136601
3  2015-03-05      0.047279    12.649937         0.183945
4  2015-03-06      0.047279    12.649937         0.231311
5  2015-03-09      0.047279    12.649937         0.278699
6  2015-03-10      0.047279    12.649937         0.326110
7  2015-03-11      0.047279    12.649937         0.373543
8  2015-03-12      0.047279    12.649937         0.420999
9  2015-03-13      0.047279    12.649937         0.468477
10 2015-03-16      0.047279    12.649937         0.515977
11 2015-03-17      0.047279    12.649937         0.563500
12 2015-03-18      0.047279    12.649937         0.611046
13 2015-03-19      0.047279    12.649937         0.658613
14 2015-03-20      0.047279    12.649937         0.706204

4. Apresentar os resultados em uma planilha

In [ ]:
print(df_selic.to_markdown(index=False))

| data                |   SELIC diária |   SELIC anual |   SELIC acumulada |
|:--------------------|---------------:|--------------:|------------------:|
| 2015-03-02 00:00:00 |       0.045513 |       12.15   |         0.045513  |
| 2015-03-03 00:00:00 |       0.045513 |       12.15   |         0.0910467 |
| 2015-03-04 00:00:00 |       0.045513 |       12.15   |         0.136601  |
| 2015-03-05 00:00:00 |       0.047279 |       12.6499 |         0.183945  |
| 2015-03-06 00:00:00 |       0.047279 |       12.6499 |         0.231311  |
| 2015-03-09 00:00:00 |       0.047279 |       12.6499 |         0.278699  |
| 2015-03-10 00:00:00 |       0.047279 |       12.6499 |         0.32611   |
| 2015-03-11 00:00:00 |       0.047279 |       12.6499 |         0.373543  |
| 2015-03-12 00:00:00 |       0.047279 |       12.6499 |         0.420999  |
| 2015-03-13 00:00:00 |       0.047279 |       12.6499 |         0.468477  |
| 2015-03-16 00:00:00 |       0.047279 |       12.6499 |         0.515977  |
| 2015-03-17 00:00:00 |       0.047279 |       12.6499 |         0.5635    |
| 2015-03-18 00:00:00 |       0.047279 |       12.6499 |         0.611046  |
| 2015-03-19 00:00:00 |       0.047279 |       12.6499 |         0.658613  |
| 2015-03-20 00:00:00 |       0.047279 |       12.6499 |         0.706204  |